@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-urbanist: var(--font-urbanist);
  --primary-color: #00a7f3;
}

@layer base {
  body {
    background-color: #f7fafe;
  }
}
